h2, table{
    text-align: center;
}

.form{
    margin: 10px auto;
}

.data_form{
    margin: 30px auto;
}

.navi{
    margin-bottom: 20px;
}

.navbar-item{
    padding-left: 30px;
}

.err{
    color: floralwhite;
    background-color: red;
    padding: 5px;
}